/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

body{
    background-color: lightgray;
    color: blue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}